body, html {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
}
#scorm_ui {
position:absolute;
top:120px;
bottom:40px;
left:0;
right:0;
width:100%;
background:#fff;
}
body #scorm_toc {
overflow:auto;
height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


#scorm_toc {
width:200px;
padding:0 10px;
border-right:#666 1px solid;
font-size:0.9em
}
#scorm_controls {
margin-left:220px;
margin-top:5px;
text-align:right;
margin-right:10px;
}
iframe {
position:absolute;
left:230px;
right:10px;
bottom:30px;
top:30px;
border:#ccc 1px solid
}
