#scorm_toc {
width:200px;
float:left;
padding-right:10px;
border-right:#666 1px solid;
font-size:0.9em
}

#scorm_viewport {
margin-left:220px;
}
#scorm_viewport iframe {
width:100%;
height:500px;
overflow:visible;
margin-top:20px;
border:#ccc 1px solid
}
