body, html {
	margin:0;
	padding:0;
}

body {
	font-size:62.5%;
	font-family:Helvetica, Arial, sans-serif;
}

#header {
	background:url(../img/bluebar.jpg) repeat-x #1770E6;
	font-size:1.2em;
	float:left;
	padding:5px 0px;
	border-bottom:#000 1px solid;
	width:100%;
}

#header a {
	color:#fff;
	letter-spacing:1px;
	text-decoration:none;
}
#header a#home {
	float:left;
	margin-left:10px;
}
#header ul {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	margin-right:10px;
}

#header ul li {
	display:inline;
	padding:0 10px;

}

#header ul li a {
	color:#fff;
}

#header ul li.exit {
	font-weight:bold;
	border-right:none;
}

#main-content {
	clear:both;
	background:url(../img/greybar.jpg) repeat-x;
	height:300px
}

#wrap {

	min-width:760px;
	max-width:1024px;
	_width:expression(document.body.clientWidth < 760 ? "761px" : "auto" );
	margin:auto;
}
#leftbar {
	float:left;
	width:15%;
	font-size:1.2em;
	position:relative
}

#leftbar a#dashboard {
	display:block;
	background:url(../img/greybar.jpg) repeat-x;
	color:#666;
	text-align:right;
	height:10px;
	padding:7px 5px 7px 0;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px
}
#leftbar ul {
	margin:10px 0;
	padding:0;
	list-style:none;
}
#leftbar ul li {
	border:#000 1px solid;
	border-right:none;
	margin-top:4px;
	background:url(../img/button.jpg) repeat-x #6A6B6F;
	letter-spacing:1px;
	width:100%;
}

#leftbar ul li a {
	display:block;
	padding:5px 0 20px 10px;
	color:#ccc;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold
}

#leftbar ul li a:hover {
	color:#fff
}
#main {
	width:70%;
	float:left;
	font-size:1.2em;
	background:url(../img/leftbar_bg.jpg) repeat-y 0 0;
	margin-left:-12px;
	border-right:#000 1px solid;
}

#bar3{
	background:url(../img/darkbar.jpg) repeat-x;
	height:10px;
	padding:7px 10px 7px 10px;
	color:#fff;
	margin-left:12px;
	border-left:#000 1px solid;
	font-weight:bold;
	clear:both;
}

#footer {
background:url(../img/footer.jpg) no-repeat left bottom;
margin:0 -26px 0 -24px;

}
#footer .c {
padding:7px 0 20px 25px;
display:block;
position:relative;
background:url(../img/footer_corner.jpg) right bottom no-repeat;
}

#main .content  {
	background:url(../img/rightbar_bg.jpg) repeat-y top right;
	padding:10px 22px 0 22px;
	margin-right:-12px;
}

#rightbar {
	float:left;
	width:15%;
	padding-top:24px;
}

#rightbar h5 {
	font-size:1.1em;
	padding:1px 0 1px 10px;
	margin:10px 0;
	background:#8BBFDF
}

#rightbar .content {
	padding-left:15px;
}

/* Tables */
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: center;
}

th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}

th a:hover {
	background-color: #ccc;
	color: #333;
	text-decoration: none;
}

table tr td {
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}
table tr.altrow td {
	background: #f4f4f4;
}
td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	display: inline;
	margin: 0px 6px;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}


/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
}
fieldset {
	border:none;
	border-top: 4px double #ccc;
	margin-top: 30px;
	padding: 16px 20px;
}
fieldset legend {
	color:#333;
	font-size: 160%;
	font-weight: bold;
	padding:0 5px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.optional, form div.input {
	color: #444;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 140px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
}
input, textarea {
	clear: both;
	display: block;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 2px;
	width: 100%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	padding: 2px 5px;
	width: auto;
	font-size: 110%;
	vertical-align: bottom;
}


/** Headings */
h1 {
	
}

h2 {
	font-size:2em;
}

h3 {
	font-size:1.5em;
}

/** Links */
a:link {
	color:#3875D7;
}

a:hover {
	text-decoration:none;
}

a:visited {
	color:#3875D7;
	font-weight:normal;	
}

/** Actions */

div.actions ul {
	padding:20px;
	clear:both;
	list-style:none;
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 50%;
}
dl .altrow {
	background: #dfdfdf;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

#flashMessage {
	color:#3F0004;
	margin-bottom:10px;
	padding:3px 0 0 0;
	border:#3F0004 1px solid;
	text-align:center;
	background:#FFCFD1;
}