#summary.growing {
	height:auto;
}

#summary.growing #course-data .course {
	height:auto;
	font-size:1.2em;
}

div.course .boxed {
	width:30%;
	float:left;
	margin-right:2%;
	margin-bottom:15px;
}

div.plugins.index ul li{
	list-style:none;
	
}
div.plugins.index ul li div.actions {
	background:#6EA6D5;
	float:left;
	width:100%;
	border-top:#ccc 2px solid;
}
div.plugins.index ul li div.actions a{
	text-decoration:none;
	color:#000;
	background:#ddd;
	border:#fff 1px solid;
	border-right:#666 1px solid;
	border-bottom:#666 1px solid;
	padding:1px 3px;
	display:block;
	font-size:90%;
	text-align:center;
	float:right;
	margin:3px;
	
}

div.plugins.index ul li div.actions a:hover{
	border:#666 1px solid;
	border-right:#ccc 1px solid;
	border-bottom:#ccc 1px solid;
	background:#f5f5f5;
	color:#000;
}

div.plugins.index ul li dl {
	
}
div.plugins.index ul li dl dd{
	padding: 0 10px;
	margin-left:0;
	height:150px;
	overflow-y:auto;
}
strong.author {
	display:block;
	padding-top:5px;
}

#admin-main {
	margin-top:30px;
	background:#fff;
	float:left;
	width:100%;
}

#admin-main #course-data,
#admin-main #more-courses {
	margin-top:-30px;
}

.dashboard-element {
	margin-top:10px;
}

.dashboard-element dl {
	line-height: 2em;
	margin:5px 0;
}
.dashboard-element dl.altrow {
	background: #f4f4f4;
}
.dashboard-element dt {
	text-indent:10px;
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
.dashboard-element dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

#profile.dashboard-element p {
	padding:3px 10px;
	margin:0;
	text-align:right;
}
#profile.dashboard-element p a {
	text-decoration:none;
}