#install .main .content {
	padding:20px 30px!important;
}
#install .main h1 {
	border:none;
	margin:0;
	padding:0;
	background:none;
	font-size:1.5em;
	text-indent:0;
}

#install .main h2 {
	margin:0;
	padding:0;
	border:none;
	color:#333;
	font-size:1em;
}

#install .main p.error strong {
	color:red;
}
#install .main fieldset {
	border:none;
}
#install .main input{
	width:180px;
}
#install .main .submit {
	text-align:left;
	padding-left:210px;
}
#install .main .submit input {
	width:auto;
}

#install .main .group {
	margin-bottom:10px;
	float:left;
	clear:both;
}
#install .main .group strong {
	margin-bottom:5px;
	float:left;
	width:100%;
}
#install .main .group .input {
	display:inline;
}
#install .main .group label {
	float:left;
	margin-top:23px;
	margin-left:10px;
	display:inline;
	width:120px;
	color:#666;
	font-size:0.9em;
}
#install .main .group input {
	float:left;
	width:120px;
	margin-left:-125px;
}
#install .main .group .small {
	width:53px;
}
#install .main .group input.small {
	margin-left:-58px;
}
#install .main .group span {
	float:left;
	font-size:1.3em;
	display:inline;
	margin-right:-10px;
}
#install .main pre {
	margin-left:30px;
	background:#efefef;
	width:300px;
	padding:10px;
	border:#ccc 1px dashed;
	font-size:1.2em;
	
}
#install .main #flashMessage {
	margin-top:-20px;
}
#install .main fieldset p {
	margin-top:0;
}
#install .main .checkbox {
	padding:0 0 0 25px;
	margin:0;
}
#install .main .checkbox label {
	float:keep-a;
}
#install .main .checkbox input {
	padding:0;
	margin:0 10px 0 0;
}
#install .main .credentials {
	margin-left:30px;
	border:#ccc 1px dashed;
	background:#fcfcfc;
	width:150px;
	padding:10px;
	font-family:monospace;
	font-size:1.5em;
}
#install .main #smtp {
	display:none;
}
#install .main p#smtp-alternative {
	font-size:1.1em;
	margin-left:30px;
}