/* General Layout styles */
body, html {
	margin:0;
	padding:0;
}

body {
	float:left;
	width:100%;
	font-size:62.5%;
	font-family:"Trebuchet MS", Arial, sans-serif;
	background: #fff url('../../img/default/osmosis_bg.jpg');
}

#logo {
	display:block;
	position:absolute;
	top:77px;
	left:0;
	width:75px;
	font-size:1.4em;
	border-top:#888 1px dashed;
	text-indent:-9000px;
	border-bottom:#888 1px dashed;
}
#logo p {
	border-bottom:#A8A9AB 30px solid;
	height:190px;
	margin:0;
}

#logo p a {
	display:block;
	background:#fff url('../../img/default/osmosis2_logo.gif') no-repeat;
	height:100%;
	border-bottom:#888 1px dashed;
}

#content {
	font-size:1.2em;
	width:100%;
}
#content .contentcolumn {
	margin-left:75px;
	border-left:#888 1px dashed;
}
/* Top area (tabs)*/
#top {
	padding-left:75px;
	height:77px;
	border-bottom:#888 1px dashed;
	position:relative;
}
#top ul {
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	right:13px;
	list-style:none;
}

/* Middle Area: (contectivist navigation, course summary and more courses list)*/
#wrap {
	margin-top:30px;
	background:#fff;
	float:left;
	width:100%
}
#upper-content {
	position:relative;
}
#upper-content.summary {
	height:190px;
}
#upper-content ul#conectivism {
	border-top:#6EA6D5 30px solid;
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	width:141px;
	height:160px;
	padding:0;
	background:#fff;
	list-style:none;
	margin:0;
}
#upper-content ul#conectivism li {
	padding-left:45px;
	padding-top:20px;
}
#upper-content ul#conectivism li.classes {
	border-top:#888 1px dashed;
}

#upper-content .main {
	width:80%;
	float:left;
	position:relative;
	margin-top:-30px;
}
#upper-content.summary ul.professors {
	padding:0;
	list-style:none;
	margin:0;
}
#upper-content.summary ul.professors li {
	width:30%;
	float:left;
}
#upper-content .content {
	margin-top:30px;
	border-top:#888 1px dashed;
	background:#fff;
	padding:10px;
	display:block;
	padding-left:151px;
}
#upper-content.summary {
	height:139px;
}
#upper-content #more-courses {
	float:left;
	width:20%;
	height:160px;
	max-width:340px;
	background:#fff;
	border-top:#6EA6D5 30px solid;
	margin-top:-30px;
}
#upper-content.login #wrap .main {
	width:100%;
}
#upper-content.login #wrap {
	border-top:#888 1px dashed;
	width:100%;
}
#upper-content.login #wrap .main .content {
	padding:10px 0;
	border:none;
}
#upper-content.login #flashMessage,
#upper-content.login #authMessage {
	width:400px;
	margin:-10px auto 0 auto;
}
#upper-content.login #wrap #more-courses {
	display:none;
}
#upper-content #more-courses .content {
	border-top:#888 1px dashed;
	display:block;
	background:#fff;
	margin:0;
	padding:10px;
	padding-bottom:0;
}
#upper-content #more-courses .content ul {
	height:100px;
	overflow:auto;
}
.abstract {
	margin:10px 0;
}
.professors .abstract {
	margin-left:10px;
	margin-right:0;
}
#upper-content #more-courses .abstract {
	height:100%;
	margin:0;
}

/* Tool list */
#tools {
	letter-spacing:1px;
	clear:both;
	height:30px;
	border-top:#888 1px dashed;
	border-bottom:#888 1px dashed;
	background:#fff;
	text-transform:uppercase;
}
#tools ul {
	margin:0;
	padding:0;
	list-style:none;
}
#tools ul li {
	float:left;
	padding-top:13px;
	height:17px;
	margin:0 10px 0 20px;
}

/* Main Content*/
#main-content {
	clear:both;
	width:100%;
	background:#fff;
	position:relative;
}

#main-content #side-content.small {
	width:141px;
	float:left;
/*	position:absolute;*/
	top:10px;
	left:0;
}

#main-content .main {
	padding:10px 20px 0 160px;
	min-height:200px;
}
#main-content .main .boxed {
	width:30%;
	float:left;
	margin-right:2%;
	margin-bottom:15px;
}
#main-content #footer {
	clear:both;
	width:100%;
	padding-top:60px;
}
#main-content #footer p {
	font-size:0.92em;
	background:#666;
	color:#ccc;
	margin:0;
	padding:5px 10px;
	text-align:right;
}

.twocol .col {
	width:40%;
	margin-right:10px;
	float:left;
}

.twocol .full {
	clear:both;
}