/* Links */
a {
	color:#6EA6D5;
}

a:hover,
a:focus {
	color:#5582A0;
}

a:visited {
	color:#025893;
}

a.course_name {
	background:url(../../img/default/go.png) no-repeat center left;
	padding-left:20px;
	font-size:1.3em;
	text-decoration:none;
}
/* Styles for upper tabs */
#top ul li {
	padding:7px 13px 0 0;
	background:transparent url('../../img/default/tab.gif') no-repeat bottom right;
	float:left;
	margin-right:3px;
	height:13px;
	font-size:0.92em;
}
#top ul li a {
	text-transform:uppercase;
	color:#666;
	text-decoration:none;
	padding:2px 0 3px 12px;
	margin-top:-7px;
	height:15px;
	background:transparent url('../../img/default/tab.gif') no-repeat bottom left;
	display:block;
}
#top ul li a:hover,
#top ul li a:focus {
	color:#333;
	background:transparent url('../../img/default/tab_hover.gif') no-repeat bottom left;
}

/* Styles conectivist navigation */
#upper-content #conectivism li a {
	color:#666;
	text-decoration:none;
	font-size:1.17em;
	font-weight:bold;
}
#upper-content #conectivism li a:hover,
#upper-content #conectivism li a:focus {
	color:#333;
}

/* Styles for middle area */
#upper-content.summary .course-data ul.professors-list {
	list-style:none;
}
#upper-content.summary .course-data ul.professors-list li {
	width:auto;
	float:left;
	margin-right:20px;
}
#upper-content.summary .course-data ul.professors-list li br {
	display:none;
}

#upper-content.summary .course-data ul.professors-list li a {
	display:block;
	margin:0;
}
#upper-content .main h1 {
	clear:both;
	margin:0 0 10px 0;
	padding:0;
	text-align:left;
	text-indent:20px;
	font: 1.4em/1.5em Verdana, Arial, sans-serif;
	border:#C8C8C8 1px solid;
	border-right:none;
	border-left:none;
	background:#F5F5F5 url('../../img/default/arrow_g.gif') no-repeat 10px 50%;
}
#upper-content .main h1.selected {
	background:#F5F5F5 url('../../img/default/arrow_g_down.gif') no-repeat 7px 50%;
}
#upper-content .main h1 a.title {
	display:block;
	color:#000;
	text-decoration:none;
}
#upper-content .main h2 {
	padding:5px 0 0 0;
	text-align:left;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
	border-bottom:#ccc 1px dashed;
}
#upper-content .main p.course-description {
	font-size:1.1em;
	margin:5px 5px 15px;
	color:#A8A9AB;
}
#upper-content .main ul.professors {
	font-weight:bold;
	font-size:1.1em;
	line-height:1.3em;
}
#upper-content .main ul.professors a.email,
#upper-content .main ul.professors .tel,
#upper-content .main ul.professors .office {
	font-weight:normal;
	padding-left:10px;
	color:#A8A9AB;
}
#upper-content .main ul.professors a.url {
	padding:0;
	text-decoration:none;
	font-weight:bold;
}
#upper-content .main ul.professors a.url span {
	color:#000;
	padding:0;
}

#upper-content .main ul li.users {
	list-style:url('../../forum/css/img/users.png');
}

#main-content .main h2  {
	color:#666;
	border-left:#6EA6D5 10px solid;
	background:#fafafa;
	padding-left:10px;
	letter-spacing:2px;
	font-size:2em;
}
.content-title {
	margin-top:15px;
}
.content-title h2 {
	margin-bottom:0;
}
.content-title ul {
	margin-top:-27px;
	text-align:right;
	padding-bottom:27px;
}
.content-title ul li {
	float:none;
	display:inline;
}
/* Styles "Abstract" list */
.abstract strong.title {
	text-indent:20px;
	font-weight:normal;
	font-size:0.92em;
	padding:2px 0;
	text-transform:uppercase;
	color:#fff;
	display:block;
	background:#666 url('../../img/default/arrow_w_on_g.gif') no-repeat 5px 50%;
}
.abstract ul,
.abstract.courses p {
	padding:0;
	margin:0;
	border-left:#aaa 1px solid;
	list-style:none;
}
.abstract.courses p {
	padding:10px;
}
.abstract ul li {
	margin:0 10px;
	padding:5px 0;
	border-bottom:#666 1px dashed;
	text-indent:5px;
}
.abstract .enroll {
	background:#666;
	color:#FFDE9F;
	display:block;
	padding:2px;
	text-decoration:none;
	text-align:center;
	margin-top:-1px;
}
#upper-content #more-courses .courses ul li .code {
	color:#666;
	font-family:monospace;
	font-size:1.25em;
}
#upper-content #more-courses .courses ul li a {
	color:#000;
	text-decoration:none;
}
#upper-content #more-courses .courses ul li a:hover .code,
#upper-content #more-courses .courses ul li a:focus .code {
	color:#000;
}

.updates {
	float:left;
	width:70%;
}
#my-courses .abstract {
	margin-top:0;
}

#my-courses h1 a.goto {
	float:right;
	display:block;
	background-image:url('../../img/default/go.png');
	background-repeat:no-repeat;
	background-position:center right;
	margin-right:20px;
	margin-top:0px;
	font-size:0.5em;
	color:#F5F5F5;
	padding-right:20px;
}

#my-courses h1 a.goto:hover {
	float:right;
	display:block;
	margin-right:20px;
	margin-top:0px;
	font-size:0.6em;
	color:#000;
	padding-right:20px;
	text-decoration:none;
}

.professors {
	float:left;
	width:30%;
}

div.main div.content h1 a {
	color:#000;
	text-decoration:none;
}

#main-content #footer p a {
	color:#ccc;
	text-decoration:none;
	border-bottom:1px dotted;
}
#main-content #footer p a:hover,
#main-content #footer p a:focus {
	color:#fff;
}

/* Plugin Updates */
#plugin-updates {
	border-left:#aaa 1px solid;
	padding:5px 0 0 0;
}

#plugin-updates div {
	padding-top:15px;
}
#plugin-updates strong.title {
	background:#f5f5f5;
	display:block;
	text-align:left;
	padding:2px 15px;
	text-indent:0;
	color:#333;
}

#plugin-updates strong.title a{
	color:inherit;
	text-decoration: none;
}

#plugin-updates ul {
	padding-left:0px;
	border-left:none;
}
#plugin-updates ul li {
	padding:10px 0 10px 25px;
}
#plugin-updates ul ul li {
	border:none;
	padding:5px 0;
	list-style:none;
}
#plugin-updates ul li.nothing {
	background:url(../../img/default/messagebox_warning.png) no-repeat center left;
}

/* Tool list */
#tools strong {
	background:#6EA6D5 url('../../img/default/doublearrow_w.gif') no-repeat 120px 15px;
	color:#fff;
	width:111px;
	padding:12px 30px 0 0;
	height:18px;
	text-align:right;
	display:block;
	float:left;
	font-weight:normal;
}
#tools ul li a {
	color:#000;
	text-decoration:none;
	background: url('../../img/default/arrow_g.gif') no-repeat 0 3px;
	padding-left:10px;
}
#tools ul li a:hover,
#tools ul li a:focus {
	color:#666;
}

#tools ul li a.active {
	color:#6EA6D5;
	text-decoration:none;
	background: url('../../img/default/arrow_b.gif') no-repeat 0px 3px;
	padding-left:13px;
}

.vcard {
	padding:0!important;
}
.boxed {
	border:1px solid #888;
}
.boxed strong.title {
	text-transform:uppercase;
	font-weight:normal;
	color:#666;
	padding:5px 0 5px 10px;
	display:block;
	background:#F5F5F5;
	border-bottom:#e3e3e3 1px solid;
}
.boxed strong.title a {
	text-transform:uppercase;
	text-decoration:none;
	color:inherit;
}
.boxed div.content {
	font-size:0.92em;
	padding:0 10px;
}
.boxed ul {
	padding:0 10px;
	list-style: none;
}
.boxed ul li {
	border-bottom:#eee 1px solid;
	margin-bottom:3px;
	padding:3px 0;
}
.boxed ul li:hover {
	border-bottom:#aaa 1px solid;
}
.boxed p.go {
	text-align:right;
}
.boxed p {
	padding:0 10px;
	color:#666;
}

.boxed p.go a,
a.go {
	padding:3px 5px;
	text-decoration:none;
	color:#666;
	border:#ccc 1px solid;
	background:#f5f5f5;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.boxed a.go:hover,
.boxed p.go a:hover {
	color:#000;
	border:#aaa 1px solid;
}
ul.professors-list .vcard .email {
	background:transparent url('../../img/default/mail_generic.png') no-repeat  0 0;
	padding-left:20px;
}
ul.professors-list .vcard .tel {
	background:transparent url('../../img/default/call.png') no-repeat  0 0;
	padding-left:20px;
}
ul.professors-list .vcard .email,
ul.professors-list .vcard .tel {
	margin-left:10px;
	color:#666;
	font-size:0.8em;
	text-decoration:none;
	display:inline;
}
.course-data ul.professors-list .vcard a.email,
.course-data ul.professors-list .vcard .tel {
	display:block;
	margin-top:2px!important;
	margin-left:4px!important;
}
ul.dashboard-elements {
	list-style:none;
}
.boxed.dashboard-element {
	width:30%;
	float:left;
	margin-right:2%;
	margin-bottom:15px;
}
.boxed.dashboard-element dl.plugin dd {
	padding: 0 10px;
	margin-left:0;
	height:150px;
	overflow-y:auto;
}
p.go.action,
div.go.action {
	background:#6EA6D5;
	float:left;
	margin:0;
	width:100%;
	padding:0;
	border-top:#ccc 2px solid;
}
div.go.action div.submit {
	margin:4px 0;
}
ul.actions {
	list-style:none;
}
ul.actions li {
	float:left;
	margin-right:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2px 5px 2px 0;
}
ul.continuous.actions {
	float:none;
	display:inline;
	padding-left:10px;
}
ul.continuous.actions li {
	float:none;
	display:inline;
}
ul.actions.reverse li {
	float:right;
}
ul.actions li a {
	padding-left:20px;
}
ul.actions li.edit {
	background:#FFF4BF url('../../img/default/edit.png') no-repeat 2px 2px;
	border:#DFB700 1px solid;
}
ul.actions li.edit a {
	padding-left:22px;
	color:#DFB700;
	text-decoration:none;
}
ul.actions li.edit a:hover {
	color:#9F8300;
}
ul.actions li.delete {
	background:#FFAFAF url('../../img/default/delete.png') no-repeat 2px 2px;
	border:#BD0000 1px solid;
}
ul.actions li.delete a {
	color:#BD0000;
	text-decoration:none;
}
ul.actions li.delete a:hover {
	color:#8F0000;
}
ul.actions li.info {
	background:#BFD9FF url('../../img/default/info.png') no-repeat 2px 2px;
	border:#005BDF 1px solid;
}
ul.actions li.info a {
	color:#005BDF;
	text-decoration:none;
}
ul.actions li.info a:hover {
	color:#00275F;
}
ul.actions li.add {
	background:#C8FFBF url('../../img/default/edit_add.png') no-repeat 2px 1px;
	border:#21DF00 1px solid;
}
ul.actions li.add a {
	color:#1CBF00;
	text-decoration:none;
}
ul.actions li.add a:hover {
	color:#106F00;
}

#flashMessage,
#authMessage {
	background:#f5f5f5;
	margin:-10px 10px 10px;
	padding:5px;
	padding-left:30px;
	border:#0011CC 1px solid;
	border-top:0;
	color:#121A5F;
	background:#DDE0FF url('../../img/default/messagebox_info.png') no-repeat 4px 50%;;
}

#authMessage,
#flashMessage.error {
	border-color:#CC0000;
	color:#901B1B;
	background:#FFDDDD url('../../img/default/messagebox_critical.png') no-repeat 4px 50%;
}

#flashMessage.success {
	border-color:#1ECC00;
	color:#0E5F00;
	background:#DFFFDD url('../../img/default/messagebox_success.png') no-repeat 4px 50%;
}

#flashMessage.warning {
	border-color:#FFD100;
	color:#DAA600;
	background:#FCFFDD url('../../img/default/messagebox_warning.png') no-repeat 4px 50%;
}
h3 {
	color:#333;
	border-bottom:#888 1px solid;
}

#profile.dashboard-element dl {
	line-height: 2em;
	padding:5px 0;
	margin:0;
	width: 100%;
	overflow:hidden;
}
#profile.dashboard-element dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
#profile.dashboard-element dd {
	margin-left: 8em;
	margin-top: -2em;
	vertical-align: top;
}
#connect.dashboard-element ul li a {
	padding-left:26px;
	padding-bottom:2px;
	display:block;
	background:transparent url('../../img/default/go.png') no-repeat 0 0;
}

.dashboard-element dl.altrow {
	background: #f4f4f4;
}
.dashboard-element dt {
	text-indent:10px;
	font-weight: bold;
	vertical-align: top;
}
.dashboard-element dd {
		line-height:1.8em;
	margin-left:8em;
	vertical-align: top;
}

#profile.dashboard-element p {
	padding:3px 10px;
	text-align:right;
}
#profile.dashboard-element p a {
	text-decoration:none;
}
dd {
	color:#333;
	margin-top:10px;
	margin-left:20px;
}
#tools strong a.title {
	color:#fff;
}