/* Links */
a {
	color:#6EA6D5;
}

a:hover,
a:focus {
	color:#5582A0;
}

a:visited {
	color:#025893;
}
/* Styles for upper tabs */
#top ul li {
	padding:5px 0 0 13px;
	background:transparent url('../../img/default/tab.gif') no-repeat top left;
}
#top ul li a {
	text-transform:uppercase;
	color:#666;
	text-decoration:none;
	padding:5px 10px 0 0;
	margin-top:-5px;
	height:15px;
	background:transparent url('../../img/default/tab.gif') no-repeat top right;
	display:block;
}
#top ul li a:hover,
#top ul li a:focus {
	color:#333;
	background:transparent url('../../img/default/tab_hover.gif') no-repeat top right;
}

/* Styles conectivist navigation */
#summary #conectivism li a {
	color:#666;
	text-decoration:none;
	font-size:1.17em;
	font-weight:bold;
}
#summary #conectivism li a:hover,
#summary #conectivism li a:focus {
	color:#333;
}

/* Styles for middle area */
#summary #course-data {
	font-size:0.83em;
}
#summary #course-data h1 {
	margin:0 auto;
	padding:5px 0;
	text-align:left;
	text-indent:20px;
	font: 1.4em/1.5em Verdana, Arial, sans-serif;
	background:#F5F5F5;
	border:#C8C8C8 1px solid;
	border-right:none;
	border-left:none;
}
#summary #course-data h2 {
	padding:5px 0 0 0;
	text-align:left;
	font-family:Verdana, Arial, sans-serif;
	font-weight:normal;
	border-bottom:#ccc 1px dashed;
}
#summary #course-data p.course-description {
	font-size:1.1em;
	margin:5px 5px 15px;
	color:#A8A9AB;
}
#summary #course-data ul.professors {
	font-weight:bold;
	font-size:1.1em;
	line-height:1.3em;
}
#summary #course-data ul.professors a.email,
#summary #course-data ul.professors .tel,
#summary #course-data ul.professors .office {
	font-weight:normal;
	padding-left:10px;
	color:#A8A9AB;
}
#summary #course-data ul.professors a.url {
	padding:0;
	text-decoration:none;
	font-weight:bold;
}
#summary #course-data ul.professors a.url span {
	color:#000;
	padding:0;
}

/* Styles "My Courses" list */
#summary #more-courses .courses strong {
	text-indent:20px;
	font-weight:normal;
	font-size:0.92em;
	padding:2px 0;
	text-transform:uppercase;
	color:#fff;
	display:block;
	background:#666 url('../../img/default/arrow_w_on_g.gif') no-repeat 5px 50%;
}
#summary #more-courses .courses ul,
#summary #more-courses .courses p {
	padding:0;
	margin:0;
	border-left:#666 1px solid;
	list-style:none;
}
#summary #more-courses .courses p {
	padding:10px;
}
#summary #more-courses .courses ul li {
	margin:0 10px;
	padding:5px 0;
	border-bottom:#666 1px dashed;
	text-indent:5px;
}
#summary #more-courses .courses ul li .code {
	color:#666;
	font-family:monospace;
	font-size:1.25em;
}
#summary #more-courses .courses ul li a {
	color:#000;
	text-decoration:none;
}
#summary #more-courses .courses ul li a:hover .code,
#summary #more-courses .courses ul li a:focus .code {
	color:#000;
}

#main-content #footer p a {
	color:#ccc;
	text-decoration:none;
	border-bottom:1px dotted;
}
#main-content #footer p a:hover,
#main-content #footer p a:focus {
	color:#fff;
}

/* Tool list */
#tools strong {
	background:#6EA6D5 url('../../img/default/doublearrow_w.gif') no-repeat 120px 15px;
	color:#fff;
	width:111px;
	padding:12px 30px 0 0;
	height:18px;
	text-align:right;
	display:block;
	float:left;
	font-weight:normal;
}
#tools ul li a {
	color:#000;
	text-decoration:none;
}
#tools ul li a:hover,
#tools ul li a:focus {
	color:#666;
}

.vcard {
	padding:0!important;
}
.boxed {
	border:1px solid #888;
}
.boxed strong.title {
	text-transform:uppercase;
	font-weight:normal;
	color:#666;
	padding:5px 0 5px 10px;
	display:block;
	background:#F5F5F5;
	border-bottom:#e3e3e3 1px solid;
}
.boxed div.content {
	font-size:0.92em;
	padding:0 10px;
}

#login {
	width:300px;
}

